*, *::before, *::after {
	box-sizing: border-box;
	font-family: Gothan Rounded, sans-serif;
	font-weight: normal;
}

body {
	padding: 0;
	margin: 0;
	background: gold;
}

.calculadora-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100px;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculadora-grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	background-color: rgba(255,255,255, .75);
}

.calculadora-grid > button:hover {
	background-color: rgba(255,255,255, .9);
}

.igual {
	grid-column: span 4;
	font-size: 200px;
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0.0. .75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding:10px; 
	word-wrap: break-word;
	word-break: break-all;
}

.visor {
	color: black;
	font-size: 36px;
	height: 100px;
	width: 390px;
}
